BasedOnStyle: Microsoft

# Set the limit character up to unsigned ColumnLimit value

ColumnLimit: 200

# Number of column used to indent

IndentWidth: 4

# TrailingCommentsAlignmentKinds Kind Specifies the way to align trailing comments.
# Possible values:
# TCAS_Leave (in configuration: Leave) Leave trailing comments as they are.
#
# TCAS_Always (in configuration: Always) Align trailing comments.
#
# TCAS_Never (in configuration: Never) Don’t align trailing comments but other formatter applies.
#
# unsigned OverEmptyLines How many empty lines to apply alignment. When both MaxEmptyLinesToKeep and OverEmptyLines are set to 2, it formats like below.

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

ReflowComments: IndentOnly
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesBeforeTrailingComments: 5  

# Make the address symbol & align to the [Left|Middle|Right] of datatype

ReferenceAlignment: Left

SpaceAfterCStyleCast: false
SpaceAfterOperatorKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeInheritanceColon: false
